.page_content {
  grid-area: c;
}
/* .walpaper img {
  object-fit: fill;
  max-width: 100px;
} */

/* .posts {
  background-color: aliceblue;
} */
.posts {
  position: relative;
  margin-left: 1rem;
}

textarea {
  width: max-content;
  border-radius: 10px;
  background-color: aliceblue;
  border-color: aliceblue;
  padding: 1rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
}
