.header {
  /* grid-area: h; */
  background-image: linear-gradient(
    to left,
    rgb(30, 48, 62),
    rgb(18, 101, 117),
    rgb(18, 117, 89),
    rgb(18, 101, 117)
  );
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  position: sticky;
    z-index: 100;
    /* margin-bottom: 0;
    padding-bottom: 0; */
  /* top: 1vh; */
  /* height: 2.8rem; */
}
.header img {
  width: 2.6rem;
  height: 2.3rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;

}

@media screen and (min-width:750px) {
 .menuButton{
  display: none;
} 
}


@media screen and (max-width: 750px) {
 .header img{
   /* margin-left: 90%; */
   /* padding: 0rem;
   grid-area: i; */
   order: 2;
   float: left

  ;
  }
  /* .container{
    position: absolute; 
  } */
  .menuButton{
   order: 1;
  }
  .header{
    /* display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: "b . i";
    grid-gap: 0rem; */
    align-items: center;
    display: flex;
    flex-direction: row;


  }
  
}