.header {
  grid-area: h;
  background-image: linear-gradient(
    to left,
    rgb(30, 48, 62),
    rgb(18, 101, 117),
    rgb(18, 117, 89),
    rgb(18, 101, 117)
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.header img {
  width: 47px;
  height: 35px;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}
