.item {
  /* display: -moz-grid-line; */
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 0;
  /* width: 100%;
  grid-template-areas: "a t";
  grid-template-rows: 3rem 1fr;
  grid-gap: 0.1rem; */
}

.comentAva {
  height:0;
  width:0;
  min-height:100%;
  min-width:100%;
  object-fit:cover
}

.comentText {
  /* grid-area: t; */
  background-color: aliceblue;
  border-radius: 10px;
  /* width: max-content; */
  height: max-content;
  padding: 0.5rem;
  text-align: justify;
}

span {
  /* background: linear-gradient(
    to left,
    rgb(18, 101, 117),
    rgb(18, 117, 89),
    rgb(18, 101, 117)
  ); */
  text-align: right;
}

span h4 {
  margin: 0;
}
