
.app-wrapper {
  display: grid;
  padding-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  /* position: fixed; */
  /* overflow: scroll; */
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 5ch 1fr;
  grid-template-columns: 3fr 9fr;
  font-family: "Montserrat", sans-serif;
  grid-gap: 0.3rem;
  justify-content: center;
 max-height: 98vh;
  /* border-bottom-style: dashed;
  border-color: aqua; */

/* scroll-padding-top: 300px; */
  
}

/* button {
  background: linear-gradient(
    to left,
    rgb(18, 101, 117),
    rgb(18, 117, 89),
    rgb(18, 101, 117)
  );
  color: aliceblue;
  border: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
  transition: 0.5s;
  padding: 0.5rem 0.3rem;
  margin: 0.5rem 0.3rem;
  border-radius: 10px;
  border-color: none;
  text-decoration: none;
  transition: all 500ms ease;
  box-sizing: border-box;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: linear-gradient(
    to right,
    rgb(18, 101, 117),
    rgb(18, 117, 89),
    rgb(18, 101, 117)
  );
  border-radius: 10px;
  transition: all 2s ease;
} */

button:hover:before {
  width: 100%;
}

*:focus {
  outline: none;
}

.app-wrapper-content {
  grid-area: c;
  /* height: 80vh; */
  /* overflow: scroll; */
  
}

.app-skroll-part{

/* max-height: calc(100% - var(--fill-available)); */
/* border-bottom-style: dashed; */
height: calc(100vh - 2vh - 0.4rem - 44px);
overflow: scroll;



}



